node_modules/
package-lock.json
localhost*
*.git
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*.code-workspace



# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/

# Agent/AI
.agent/
